@media (max-width:767px) {
    .business ul {
        display: block;
    }

    .solution-strore ul {
        display: block;
        width: 100%;
    }

    .solution-strore ul li {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .explore-main ul {
        display: block;
    }

    .explore-main ul li {
        margin-right: 0;
        width: 100%;
        height: auto;
        margin-bottom: 52px;
    }

    .find-answer ul {
        display: block;
    }

    .find-answer ul li:nth-child(1) {
        width: 100%;
    }

    .find-answer ul li:nth-child(2) {
        width: 100%;
        padding: 22px 19px 22px;
    }

    .reduceall ul li {
        width: 100%;
        float: left;
        margin: 0 0 25px 0;
    }

    .ps-storage--section.hero-section .main-banner-wrap h1 {
        font-size: 1rem;
    }

    .ps-heading-50-bold {
        font-size: 1.125rem;
        font-weight: 800;
        margin-bottom: 26px;
    }

    .ps-storage--intro-section {
        padding-top: 1rem;
    }

    .reduceall ul li.stn1,
    .reduceall ul li {
        margin: 0 0 20px 0;
        text-align: center;
    }

    .Contractor h2 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .Contractor {
        margin-top: 0;
    }

    .Storage h2 {
        font-size: 14px;
        font-weight: 600;
    }

    .business ul li {
        margin-right: 0;
        text-align: center;
    }

    .business ul li img {
        height: auto;
    }

    .solution-strore h3 {
        text-align: center;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .solution-strore ul li p {
        font-size: 15px;
    }

    .public-stroge a {
        font-size: 13px;
    }

    .public-stroge .panel-body {
        font-size: 11px;
    }

    .testimonals h3 {
        color: #060606;
        font-size: 18px;
        line-height: 23px;
        margin-top: 10px;
        font-weight: 700;
    }

    .testimonals button {
        font-size: 12px;
    }

    /* .testimonals h2 {display: block;} */
    .business-stroge {
        margin-top: 0;
    }

    .solution-strore {
        margin-bottom: 20px;
    }

    .ldding {
        margin: 0 0 20px;
    }

    .ldding p {
        font-size: 12px;
    }

    .find-answer ul li:nth-child(2) h2 {
        font-size: 21px;
        line-height: 28px;
    }

    .find-answer ul li:nth-child(2) p {
        font-size: 12px;
        line-height: 19px;
        font-weight: 400;
        color: #8a8a8a;
    }

    .explore-main h2 {
        font-size: 16px;
        margin-bottom: 46px;
    }

    .explore-main ul li p {
        font-size: 14px;
    }

    .explore-main ul li span {
        font-size: 13px;
        height: auto;
    }

    .foott .data-1 ul h3 {
        font-size: 15px;
    }

    .foott .data-1 li a {
        font-size: 13px;
    }

    .foott .data-2 ul h3 {
        font-size: 15px;
        height: auto;
    }

    .foott .data-2 li a {
        font-size: 13px;
        line-height: 27px;
    }

    .media .media-middla {
        display: block;
        width: 100%;
    }

    .media .media-middla .media-lft ul li {
        display: flex;
        justify-content: space-around;
    }

    footer h3 {
        font-size: 17px;
        margin: 25px 0 11px;
    }

    footer ul li a {
        font-size: 13px;
    }

    .reduceall ul li h3 {
        font-size: 15px;
    }

    .reduceall ul li p {
        font-size: 12px;
    }

    .business-footer ul {
        display: block;
    }

    .mob-txt span {
        text-align: center !important;
        float: none;
    }

    .border-all input {
        margin-bottom: 13px;
        font-size: 13px;
        height: 43px;
    }

    select.form-control:not([size]):not([multiple]) {
        height: calc(2.56rem + 2px);
        margin-bottom: 12px;
        font-size: 12px;
    }

    .warehose-storage h4,
    .warehose-storage h5 {

        font-size: 22px;
        text-align: left;

    }

    .border-all {

        margin-bottom: 20px;
    }

    .border-all button {

        padding: 6px 0;
        font-size: 15px;

    }

    .main-all {

        width: 100%;
        display: block;

    }

    .main-all .depar-1 {
        margin-top: 20px;
        width: 100%;
    }

    .main-all .depar-2 {
        margin-top: 20px;
        width: 100%;
    }

    .addtxt {
        color: #f9ca00;
        font-size: 18px;
    }

    .addtxtgray {
        color: #545454;
        font-size: 13px;
    }

    .signup-step-container {
        padding: 0 0;
    }

    .btn-big {

        font-size: 14px;

    }

    .main-all .depar-1 h3,
    .main-all .depar-2 h3 {
        font-size: 14px;

    }

    .testimonals h2 span {

        font-size: 12px;

        line-height: 15px;
    }

    .testimonals p {
        color: #121c30;
        font-size: 11px;
    }

    .testimonals .photoall {
        justify-content: center;
    }

    .testimonals .photoall .dta1 img {

        margin-right: 0;
    }

    .testimonals .photoall .dta1 p {

        text-align: center;
    }

    .public-stroge h2 {

        font-size: 22px;
        margin-bottom: 12px;
    }

    .testimonals {
        float: left;
        width: 100%;
        margin: 31px 0 -19px;
    }

    .hide-top {
        display: none;
    }

    .mobile-new {
        display: flex;
        justify-content: space-between;
        padding: 8px 17px 8px;
    }

    .thankyou {
        width: 100%;
    }

    .thankyou img {
        height: 50px;
    }

    .thankyou h2 {

        font-size: 20px;

    }

    .thankyou p {
        font-size: 13px;
    }

    .thankyou p br {
        display: none;
    }

    .item-add ul li {
        margin-right: 3px;
        margin-bottom: 11px;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        font-size: 14px;
    }

    .nav-pills .nav-link {
        font-size: 14px;
    }

    .data-few-item {
        margin-top: 0;
    }

    .text-white {
        font-size: 20px;
    }

    #contactForm select.form-control:not([size]):not([multiple]) {
        height: calc(3.06rem + 2px);
        margin-bottom: 12px;
        font-size: 12px;
    }

    .phone-footer-mobile {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 38px;
        width: 30px;
        height: 30px;
        background-color: #f7bc13;
        border-radius: 100%;
        text-align: center;
        padding: 3px 6px 0;
        z-index: 99;
    }

    .phone-footer-mobile a {
        color: #fff;
    }

    .phone-footer {
        display: none;
    }

    footer p {
        font-size: 13px;
    }

    .thanks-head h1 {
        font-size: 18px;
    }

    .thanks-head p,
    .thanks-head a {
        font-size: 14px;
    }

    .top-head h2 {
        font-size: 18px;
    }

    .top-head ul li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 4%;
    }

    .top-head ul li strong {
        font-size: 15px;
    }

    .address-bar {
        margin-top: 30px;
    }

    .address-bar h3,
    .address-bar-1 h3 {
        font-size: 15px;
    }

    .address-bar p,
    .address-bar-1 p {
        font-size: 13px;

    }

    .process-works h4 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .process-works ul {

        display: block;
    }

    .process-works ul li {
        list-style-type: none;
        width: 100%;
        margin-bottom: 25px;
    }

    .process-works ul li h5 {
        color: #000;
        font-weight: 700;
        font-size: 15px;
        margin: 11px 0 7px;
    }

    .process-works ul li p {
        font-size: 13px;
    }

    .top-head .total-price p {
        font-size: 13px;
    }

    .top-head .total-price strong {
        font-size: 18px;
    }

    .need-banner {
        height: auto;
        margin: 2px 0 0px;
    }

    .need-banner h6 {
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        margin: 23px 0 14px;
    }

    .need-banner p {
        color: #fff;
        font-weight: 400;
        font-size: 15px;
        margin: 5px 0 0;
    }

    .need-banner button {
        display: inline-block;
        background: #fff;
        color: #000;
        border-radius: 25px;
        margin-top: 36px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .solutions h2 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 0;
    }

    .solutions p {
        font-size: 13px;

    }

    .solutions ul {
        display: block;
    }

    .solutions ul li {
        width: 100%;
        margin: 0 0 17px;
    }

    .solutions ul li h3 {
        color: #000;
        font-size: 16px;
        font-weight: 700;
    }

    .sele-storage-soluions h2 {
        font-size: 18px;
        margin-top: 0;
    }

    .sele-storage-soluions ul {
        display: block;
    }

    .sele-storage-soluions ul li {
        width: 100%;
    }

    .sele-storage-soluions ul li strong {
        font-size: 17px;
        font-weight: 700;
    }

    .sele-storage-soluions ul li p {
        font-size: 14px;
    }

    .convenience .sale h2 {
        font-size: 18px;
    }

    .convenience .sale h3 {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        margin: 0 0 0;
    }

    .convenience .sale p {
        font-size: 13px;
    }

    .convenience {
        margin-top: 15px;
        margin-bottom: 0;
    }

    .trusted h2 {
        color: #060606;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .trusted span {

        font-size: 16px;

    }

    .trusted p {
        font-size: 13px;

    }

    .trusted strong {
        font-size: 16px;
        margin: 0 0 7px;
    }

    .inventory h2 {
        font-size: 19px;
        margin-bottom: 15px;
    }

    .inventory ul {

        display: block;

    }

    .inventory ul li .img-1,
    .inventory ul li .img-2 {
        width: 100%;
        margin-right: 0;
    }

    .inventory ul li {
        margin-bottom: 30px;
        display: block;
        width: 100%;
    }

    .inventory ul li h2 {

        margin: 19px 0 8px;
        font-size: 18px;
    }

    .access h2 {
        font-weight: 700;
        font-size: 18px;
        margin: 0px 0 18px;
    }

    .access ul {
        display: block;
    }

    .access ul li h3 {
        color: #000;
        font-weight: 600;
        font-size: 17px;
        margin: 10px 0 0;
    }

    .access ul li p {
        color: #a3adbb;
        font-weight: 500;
        font-size: 14px;
        margin: 3px 0 13px;
    }

    .facilities {
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 30px;
    }

    .facilities h2 {
        font-size: 18px;
        margin: 20px 0 12px;
    }

    .facilities p {
        color: #fff;
        font-size: 12px;
        font-weight: 400;
    }

    .facilities li {
        font-size: 13px;
        margin: 12px 0 0;
    }

    .public-stroge h3 {
        font-size: 20px;
        margin-top: 0;
    }

}